<!doctype html>
<html lang="en" class="h-100" data-bs-theme="auto">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Playground Two{% endblock %}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    {% block stylesheets %}
        {{ ux_controller_link_tags() }}
        <link rel="stylesheet" href="{{ asset('vendor/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('styles/bootstrap-icons.css') }}">
        <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
    {% endblock %}

    {% block javascripts %}
        {{ importmap() }}
    {% endblock %}
</head>
<body class="d-flex flex-column h-100">


<header>
    {% include '_/_nav_bar.html.twig' %}
</header>

<main class="flex-shrink-0">
    <div class="container">
        <noscript>
            <h1 class="alert alert-danger">Please activate JavaScript!</h1>
        </noscript>
        {% include ('_/_flash-messages.html.twig') %}
        {% block body %}{% endblock %}
    </div>
</main>

{% include ('_/_footer.html.twig') %}

</body>
</html>
